@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.clip-diagonal {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}
